body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.crumbs {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

.container-medium {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
}

.container-narrow {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.crumbs img {
    height: 60px;
    vertical-align: middle;
}

h1 {
    color: #1B335F;
    text-align: center; /* Center the heading */
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.custom-file-upload {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid #1B335F;
    border-radius: 4px;
    color: #1B335F;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
}
.custom-file-upload:hover {
    background-color: #00A087;
    border-color: #00A087;
    color: white;
}
input[type="file"] {
    display: none;
}

input[type="text"],
input[type="file"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"],
input[type="file"],
input[type="password"] {
    border: 1px solid #1B335F;
}

button {
    background-color: #1B335F;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #007A68;
}

#result {
    margin-top: 20px;
}

#result p {
    background: #e7f7e7;
    padding: 10px;
    border-left: 5px solid #00A087;
}

#result a {
    color: #E6000B;
    text-decoration: none;
}

#result a:hover {
    text-decoration: underline;
}

.accordion {
    background-color: white;
    color: #1B335F;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    position: relative;
    padding-right: 30px; /* Make room for the arrow */
}

.accordion:hover {
    background-color: #007A68;
    color: white;
}

.active {
    background-color: #1B335F;
    color: white;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}


.accordion arrow-component {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.accordion.active arrow-component {
    transform: translateY(-50%) rotate(180deg);
}


/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
    .container, .container-medium, .container-narrow {
        max-width: 100%;
        padding: 10px;
    }

    form {
        padding: 15px;
        border-radius: 5px;
    }

    .accordion {
        font-size: 14px;
        padding: 14px;
    }

    .panel {
        padding: 0 10px;
    }
}
