<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="{{ config['server']['encoding'] }}" />
    <title>
      {% block title %}{% endblock %}{% if not self.title() %}{{
      config['metadata']['identification']['title'] }}{% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="language" content="{{ config['server']['language'] }}" />
    <meta
      name="description"
      content="{{ config['metadata']['identification']['title'] }}"
    />
    <meta
      name="keywords"
      content="{{ config['metadata']['identification']['keywords']|join(',') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ config['server']['url'] }}/static/img/favicon.ico"
      type="image/x-icon"
    />
    <!-- <link
      rel="stylesheet"
      href="{{ config['server']['url'] }}/static/css/default.css"
    /> -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    <meta
      name="twitter:image:src"
      content="{% block thumb %}{% endblock %}{% if not self.thumb() %}{{ config['server']['url'] }}/static/img/logo.png{% endif %}"
    />
    <meta
      property="og:image"
      content="{{ self.thumb() }}{% if not self.thumb() %}{{ config['server']['url'] }}/static/img/logo.png{% endif %}"
    />
    <meta
      name="twitter:site"
      content="{{ config['metadata']['identification']['title'] }}"
    />
    <meta
      property="og:site_name"
      content="{{ config['metadata']['identification']['title'] }}"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="{{ self.title() }}{% if not self.title() %}{{ config['metadata']['identification']['title'] }}{% endif %}"
    />
    <meta
      property="og:title"
      content="{{ self.title() }}{% if not self.title() %}{{ config['metadata']['identification']['title'] }}{% endif %}"
    />
    <meta
      name="twitter:description"
      content="{{ config['metadata']['identification']['description'] }}"
    />
    <meta
      property="og:description"
      content="{{ config['metadata']['identification']['description'] }}"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app" data-app>
      <v-card flat width="90%" max-width="1130">
        <div class="crumbs">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                {% block crumbs %}
                <a href="{{ config.server.url }}">
                  <img
                    src="{{ config['server']['url'] }}/static/img/logo.png"
                    title="{{ config['metadata']['identification']['title'] }}"
                    style="height: 60px; vertical-align: middle"
                  />
                </a>
                {% endblock %}
                <span style="float: right">
                  {% set links_found = namespace(json=0, jsonld=0) %} {% for
                  link in data['links'] %} {% if link['rel'] == 'alternate' and
                  link['type'] and link['type'] in ['application/json',
                  'application/geo+json'] %} {% set links_found.json = 1 %}
                  <a href="{{ link['href'] }}">{% trans %}json{% endtrans %}</a>
                  {% elif link['rel'] == 'alternate' and link['type'] and
                  link['type'] == 'application/ld+json' %} {% set
                  links_found.jsonld = 1 %}
                  <a href="{{ link['href'] }}"
                    >{% trans %}jsonld{% endtrans %}</a
                  >
                  {% endif %} {% endfor %} {% if links_found.json == 0 %}
                  <a href="?f=json">{% trans %}json{% endtrans %}</a>
                  {% endif %} {% if links_found.jsonld == 0 %}
                  <a href="?f=jsonld">{% trans %}jsonld{% endtrans %}</a>
                  {% endif %}
                </span>
              </div>
            </div>
          </div>
        </div>
        <v-main>
          <v-container>
            <v-row>
              <v-col>
                <br />
                {% block body %} {% endblock %}
              </v-col>
            </v-row>
          </v-container>
        </v-main>
        <v-footer class="sticky-bottom bg-light d-flex flex-wrap py-3 px-3 border-top">
          {{ version }}
        </v-footer>
        {% block extrafoot %} {% endblock %}
      </v-card>
    </div>
  </body>
</html>
